$font-name-regular: 'Roboto';
$font-path-regular: '../fonts/Roboto-Regular.woff2';
$font-weight-regular: 400;
$font-style-regular: normal;

@mixin font-face($font-name-regular, $font-path-regular, $font-weight-regular, $font-style-regular) {
  @font-face {
    font-family: $font-name-regular;
    src: url(#{$font-path-regular});
    font-weight-regular: $font-weight;
    font-style: $font-style-regular;
  }
}

$font-name-bold: 'Roboto';
$font-path-bold: '../fonts/Roboto-Bold.woff2';
$font-weight-bold: 700;
$font-style-bold: normal;

@mixin font-face($font-name-bold, $font-path-bold, $font-weight-bold, $font-style-bold) {
  @font-face {
    font-family: $font-name;
    src: url(#{$font-path-bold});
    font-weight: $font-weight-bold;
    font-style: $font-style-bold;
  }
}
