$roboto-font-path: '../fonts';

@font-face {
  src: url(#{$roboto-font-path}/Roboto-Regular.ttf) format('truetype');
  font-family: 'Roboto';
  font-weight: 400;
}

@font-face {
  src: url(#{$roboto-font-path}/Roboto-Bold.ttf) format('truetype');
  font-family: 'Roboto';
  font-weight: 700;
}
